In [2]:
#Name:URVA SHAHID
#Roll Number:FA25-BBD-163

In [3]:
# QUESTION NUMBER 1:
# Write a for loop to print all even numbers from 2 to 20.

In [4]:
for num in range(2,21,2):                           #range(start,stop,step)
    print(num)

2
4
6
8
10
12
14
16
18
20

In [12]:
# QUESTION NUMBER 2:
# Create a list of names and use a for loop to print each name in upper case.

In [6]:
names=["Ali","Sara","Usman","Abdullah","Naima"]
for name in names:
    print(name.upper())

ALI
SARA
USMAN
ABDULLAH
NAIMA

In [7]:
# QUESTION NUMBER 3:
# Use a for loop in range() to print numbers from 10 to 1 in reverse order.

In [13]:
for num in range(10,0,-1):             # -1 means counting backwards
    print(num)

10
9
8
7
6
5
4
3
2
1

In [14]:
# QUESTION NUMBER 4:
# Iterate through a list of integars and print only thr numbers that are divisible by 3.

In [15]:
numbers=[2,3,6,8,9,12,15,18,21] 
for n in numbers:
    if n % 3 ==0:                 #check divisibility
        print(n)

3
6
9
12
15
18
21

In [16]:
# QUESTION NUMBER 5:
# Write a loop that prints the squares of numbers from 1 to 10.

In [17]:
for i in range(1,11):
    print(f"The square of {i} is {i**2}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100

In [18]:
# QUESTION NUMBER 6:
# Given a list of temperatures in Celsius,use a for loop to convert each tp Fahrenheit.

In [19]:
celsius=[0,10,20,30,40]
fahrenheit=[]

for temp in celsius:
    f=(temp*9/5)+32 
    fahrenheit.append(f)

print("Temperatures in Fahrenheit:",fahrenheit)

Temperatures in Fahrenheit: [32.0, 50.0, 68.0, 86.0, 104.0]

In [20]:
# QUESTION NUMBER 7:
#  Create a for loop that prints the multiplication table of 5.

In [21]:
for i in range(1,11):
    print(f"5 x {i}={5*i}")

5 x 1=5
5 x 2=10
5 x 3=15
5 x 4=20
5 x 5=25
5 x 6=30
5 x 7=35
5 x 8=40
5 x 9=45
5 x 10=50

In [22]:
# QUESTION NUMBER 8:
# Write a progra to find the sum of all numbers in a list using a for loop.

In [1]:
numbers= [4,7,10,2,5]
total =0

for n in numbers:
    total += n                   #add each number to total
print("Sum of numbers:",total)

Sum of numbers: 28

In [26]:
# QUESTION NUMBER 9:
# Use a for loop to iterate through a string and print each character separately.

In [27]:
text="Python"

for char in text:
    print(char)

P
y
t
h
o
n

In [28]:
# QUESTION NUMBER 10:
# Create a list of words nd use a for loop to print only the words with more than 5 letters.

In [29]:
words=["apple","banana","cherry","grape","watermelon","kiwi"]
for word in words:
    if len(word)>5:
        print(word)

banana
cherry
watermelon